#form{
max-height: 230px;
max-width: 330px;
width: auto;
height: auto;
}

.limpa{
	position: absolute;
	left: 100px;
}
.envia{
	float: right;
}
.caixa1{
float: right;
}
.caixa2{
float: right;
}

.caixa3{
float: right;
}


